.top_cell {
	width:						150px;
	text-decoration:			underline;
	font-size:					30px;
	cursor:						default;
}

.cell {
	width:						100px;
}

.input {
	width:						100px;
	border-width:				1px;
	border-style:				solid;
	border-color:				#000000;
	text-align:					center;
}

.save_button {
	width:						80px;
	background:					#009900;
	text-align:					center;
	border-width:				1px;
	border-style:				solid;
	border-color:				#000000;
}

.spacer {
	height:						50px;
}